apiVersion: v1
kind: Deployment
metadata:
        name: nginx
spec:
        replicas: 2
        minReadySeconds: 15
        strategy:
                type: RollingUpdate
                rollingUpdate:
                        maxUnavailable: 1
                        maxSurge: 1
template:
        metadata:
                labels:
                        app: nginx
        spec:
                containers:
                        - image: ace149/nginx
                          imagePullPolicy: Always
                          name: nginx 
                          ports: 
                                - containerPort: 80
