<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111993378-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111993378-1');
    </script>

    <!-- MathJax -->
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Senecal Website">
    <meta name="author" content="Jacob Senecal">
    <meta name="keywords" content="machine, learning, blog, technology, data, science">
    <title>Jacob Senecal</title>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Titillium+Web|Merriweather|Roboto+Mono|Baumans" rel="stylesheet"> 
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('blog.pygments_css') }}">
  </head>

  <body>


    {% block navbar %}
        <div class="topnav container" id="myTopnav">
            <a href="{{ url_for('main.index') }}" class="home">
                 >$ cd /home/
                 <span class="logo_cursor"></span>
            </a>
            <a href="{{ url_for('main.resume') }}" class="nav-b">CV</a>
            <a href="{{ url_for('main.about') }}" class="nav-b">About</a>
            <a href="{{ url_for('main.blog') }}" class="nav-b">Blog</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
          
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    {% endblock %}


    {% block content %}
    <div class="container">
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
    {% endblock %}

</body>
</html>





