{% extends "base.html" %}

{% block app_content %}

    <div class="col-12">
        <div class="about">
            <!-- <div class="avatar">
                <img src="{{ url_for('static', filename="img/prof_pic.jpg") }}">
            </div> -->

            <h1>Jacob Senecal</h1>
            <h2>Software Engineer</h2>

            <ul class="social_icons">
                <li> <a target="_blank" href="https://bitbucket.org/jsene/"><i class="fab fa-bitbucket"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/jacob-senecal-481552111/"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="mailto:senecaljacob@gmail.com"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <section class="footer">
            <div class="container">
                <p>Copyright 2019 - Jacob Senecal</p>
            </div>
        </section>
    </div>


{% endblock %}

