{% extends "base.html" %}

{% block app_content %}
    
    <section class="intro">
        <div class="box">
            <h1>Find my full CV <a target="_blank" href="{{ url_for('static', filename="pdf/resume.pdf") }}">here</a></h1>
            <h3>Scroll down for an overview of my work history</h3>
        </div>
        </section>
        
        <section class="timeline">
        <ul>
            <li>
                <div>
                    <time>May 2019 - Present</time> 
                    <h3>Figure Technologies</h3>
                    Creating software in the financial technology world
                </div>
            </li>
            <li>
                <div>
                    <time>Aug 2017 - May 2019</time> 
                    <h3>Numerical Intelligent Systems Laboratory</h3>
                    Investigating machine learning techniques for hyperspectral imagery
                </div>
            </li>
            <li>
            <div>
                <time>June 2018 - May 2019</time> 
                <h3>Blackmore Sensors & Analytics</h3>
                Developing software for automotive LiDAR systems
            </div>
            </li>
            <li>
            <div>
                <time>Jan 2017 - Aug 2017</time> 
                <h3>Los Alamos National Laboratory</h3>
                Created data analysis and signal processing algorithms for a variety of sensor types
            </div>
            </li>
            <li>
            <div>
                <time>Jan 2015 - Dec 2016</time> 
                <h3>Fluids & Computations Laboratory</h3>
                Analyzed new algorithms for high fidelity multiphase flow simulations
            </div>
            </li>
            <li>
            <div>
                <time>Jun 2016 - Aug 2016</time> 
                <h3>Los Alamos National Laboratory</h3>
                Developed and verified a material damage model for qualification testing of mechanical components
            </div>
            </li>
            <li>
            <div>
                <time>Jan 2016 - Dec 2016</time> 
                <h3>AUVSI Robosub Competition</h3>
                Designed and constructed a robotic arm for an autonomous submarine
            </div>
            </li>
            <li>
            <div>
                <time>Aug 2014 - Dec 2016</time> 
                <h3>Engineers Without Borders</h3>
                Implemented a water supply and filtration system for a school of 500 students
            </div>
            </li>
        </ul>
    </section>

    <script>
        (function() {

            'use strict';

            // define variables
            var items = document.querySelectorAll(".timeline li");

            // check if an element is in viewport
            // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
            function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
            }

            function callbackFunc() {
            for (var i = 0; i < items.length; i++) {
                if (isElementInViewport(items[i])) {
                items[i].classList.add("in-view");
                }
            }
            }

            // listen for events
            window.addEventListener("load", callbackFunc);
            window.addEventListener("resize", callbackFunc);
            window.addEventListener("scroll", callbackFunc);

            })();
    </script>
{% endblock %}
