version: 2
jobs:
  build:
    machine:
      image: circleci/classic:201808-01
    working-directory: ~/website_v3

    steps:
      - checkout 
      - add_ssh_keys

      - run: 
          name: Deploy Application
          command: |
            ssh-keyscan -H 172.104.211.248 >> ~/.ssh/known_hosts
            ssh root@172.104.211.248 
            docker pull $DOCKER_USER/project_flaskapp:latest
            docker pull $DOCKER_USER/project_redis:latest
            docker pull $DOCKER_USER/project_nginx:latest
            docker pull $DOCKER_USER/project_pytorch:latest
            docker-compose down
            docker image rm -f $(docker images -q)
            docker-compose up -d

      - run:
          name: Set Python Version
          command: |
            pyenv global 3.6.5
            pip install requests

      - run:
          name: Build Info
          command: |
            docker-compose --version
            docker version
            python --version

      - run: 
          name: Build Containers
          command: |
            docker-compose build
            set -x
            docker run -d project_redis:latest
            docker run -d project_pytorch:latest
            docker run -d -p 80:8000 project_flaskapp:latest

      - run:
          name: List Containers
          command: |
            docker images
            docker ps

      - run:
          name: Install Dockerize
          command: wget https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && sudo tar -C /usr/local/bin -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && rm dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
          environment:
            DOCKERIZE_VERSION: v0.3.0

      - run:
          name: Wait for Up
          command: |
            dockerize -wait http://localhost:80 -timeout 1m
  
      - run: 
          name: Run Tests
          command: |
            python ~/project/tests_compose.py

      - run:
          name: Upload Containers
          command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker tag project_flaskapp:latest $DOCKER_USER/project_flaskapp:latest
            docker tag project_redis:latest $DOCKER_USER/project_redis:latest
            docker tag project_nginx:latest $DOCKER_USER/project_nginx:latest
            docker tag project_pytorch:latest $DOCKER_USER/project_pytorch:latest
            docker push $DOCKER_USER/project_flaskapp:latest
            docker push $DOCKER_USER/project_redis:latest
            docker push $DOCKER_USER/project_nginx:latest
            docker push $DOCKER_USER/project_pytorch:latest



