/*========================*/
/* General column styling */
/*========================*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.centered .about {
  text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


body {
    margin: 0;
    font-family: 'Lato','Titillium Web', 'Helvetica', sans-serif;
    /* color: #494e52; */
    color: black;
    /* background-color: rgb(10, 25, 47); */
  }
  
/*======================*/
/*  Navbar styling      */
/*======================*/
  .topnav {
    overflow: hidden;
    /* max-width: 1000px; */
    margin: 0 auto;
  }

  .home {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }

  @keyframes cursor {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }

  .logo_cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: rgb(100, 255, 218);
    border-radius: 1px;
    animation: cursor 1s infinite;
    animation-name: cursor;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
  }
  
  .nav-b {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }

  /* .topnav {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  } */
  
  .topnav a:hover {
    color: rgb(100, 255, 218);
  }
  
  .active {
    background-color: #ddd;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

.footer {
  width: 100%;
  text-align: center;
  justify-content: center;
  line-height: 2.0rem;
  bottom: 0.2rem;
}

/*=============================*/
/*        Author sidebar       */
/*=============================*/
.avatar img {
  width: 14rem;
  height: auto;
  border-radius: 50%;
}

.about ul {
  list-style: none;
  margin: 50px 0 1.0rem 0;
  padding: 0;
  width: 100px;
  text-align: center;
}

.about ul li {
  display: inline-block;
  position: relative;
}

.about ul li a {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-left: 1.0rem;
  margin-right: 1.0rem;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  font-size: 3.0rem;
  color: rgb(0, 0, 0);
}

.about h1 {
  padding-top: 5%;
  margin-left: 15%;
  font-size: 5.5rem;
  font-family: 'Titillium Web';
}

.about h2 {
  margin-bottom: 0.5rem;
  margin-left: 15%;
  font-size: 2.5rem;
  font-family: 'Titillium Web';
}

.about ul li a:hover {
  color: rgb(100, 255, 218);
}


/*==========================*/
/*   Post styling           */
/*==========================*/
#blog-header{
  margin-left: 1.4%;
}
  .post-title {
      color: #494e52;
      margin: 0;
      font-size: 1.4em;
  }

  .content-title {
    font-size: 35px;
  }
  
  .post-date {
      color: #62696e;
      margin: 0;
  }

  .post-desc {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.1em;
  }

  .post-head a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
  }

  .post-head a:hover::after {
      width: 100%;
  }

  .post-head p {
      margin-bottom: 20px;
  }

  .pager a {
      border: 1px #ddd solid;
      border-radius: 24px;
      padding: 7px;
      color: #494e52;
      font-size: 1.1em;
      box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
  } 

  .pager a:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),0 4px 8px 3px rgba(60,64,67,0.149);
  }

  .pager .previous {
      float: left;
  }

  .pager .next {
      float: right;
  }

  .pager {
      padding-left: 0;
      padding-top: 20px;
  }

  .content {
      max-width: 90%;
      margin: 0 auto; 
      padding-top: 50px;
  }

  .caption {
      font-size: 0.9em;
      text-align: center;
  }

  .content p {
      font-size: 1.1em;
      font-weight: 200;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .img_row {
    display: flex;
    justify-content: center;
  }

  img {
      height: 100%;
      width: 100%;
  }
  
  .row {
      margin: 0 auto;
      width: 80%;
  }
  /*==================================*/
  /*         about news               */
  /*==================================*/
  .news {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
  }

  .news span {
      display: block;
  }

  .news p {
      margin: 0;
  }

  .row p {
      text-align: justify;
      margin: 0;
      padding-bottom: 15px;
  }

  .row h3 {
      font-size: 30px;
      margin: 0;
  }

  /*================================*/
  /*         Predict                */
  /*================================*/
  .img_predict {
      max-width: 250px;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      position: absolute;
      right: 15px;
      top: 10px;
      color: black;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }