/*========================*/
/* General column styling */
/*========================*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


body {
    margin: 0;
    font-family: 'Titillium Web', Helvetica, sans-serif;
    color: #494e52;
  }
  
/*======================*/
/*  Navbar styling      */
/*======================*/
  .topnav {
    overflow: hidden;
    background-color: whitesmoke;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 5px solid black;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: #ddd;
  }
  
  .active {
    background-color: #ddd;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

/*=============================*/
/*        Author sidebar       */
/*=============================*/
  .author_urls {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      border: 0;
      background: transparent;
      box-shadow: none;
  }

  .author_urls_wrapper {
      vertical-align: middle;
      position: relative;
  }

  .author_urls a {
      display: block;
      margin-bottom: 5px;
      padding-right: 5px;
      padding-top: 2px;
      color: inherit;
      font-size: 1em;
      text-decoration: none; 
  }

  .social_icons i {
      font-size: 40px;
      padding-right: 7px;
  }

  .social_icons i:hover {
      color: black;
  }

  #profile {
      width: 100%;
      max-width: 140px;
      border-radius: 50%;
  }

  .author_desc {
      padding-top: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #494e52;
  }

/*==========================*/
/*   Post styling           */
/*==========================*/
  .post-title {
      color: #494e52;
      margin: 0;
  }

  .content-title {
    font-size: 35px;
  }
  
  .post-date {
      color: #62696e;
      margin: 0;
  }

  .post-desc {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.1em;
  }

  .pager a {
      border: 1px #ddd solid;
      border-radius: 24px;
      padding: 7px;
      color: #494e52;
      font-size: 1.1em;
      box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
  } 

  .pager a:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),0 4px 8px 3px rgba(60,64,67,0.149);
  }

  .pager .previous {
      float: left;
  }

  .pager .next {
      float: right;
  }

  .pager {
      padding-left: 0;
      padding-top: 20px;
  }

  .content {
      max-width: 90%;
      margin: 0 auto; 
      padding-top: 50px;
  }

  .caption {
      font-size: 0.9em;
      text-align: center;
  }

  .content p {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.1em;
  }

  .img_row {
    display: flex;
    justify-content: center;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }