{% extends "base.html" %}

{% block app_content %}
    <h1 style="margin-left: 33.33%;">Featured Projects</h1>

    <div class="row">
        <div class="col-4">
            <div class="bio">
                <div class="author_avatar">
                    <img id="profile" class="author_avatar" src="{{ url_for('static', filename="img/prof_pic.jpg") }}">
                </div>

                <div class="author_desc">Jacob Senecal</div>

                <div class="author_urls_wrapper">
                    <ul class="author_urls social_icons">
                        <li> <a href="#"><i class="fa fa-bitbucket-square fa-2x" aria-hidden="true"></i>Bitbucket</a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a></li>
                        <li><a href="#"><i class="fa fa-envelope-square" aria-hidden="true"></i>Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-8">
            text
        </div>
    </div>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}

