{% extends "base.html" %}

{% block app_content %}
    <h1>Featured Projects</h1>

    <div class="row">
        <div class="col-3">
            One of three columns
        </div>
        <div class="col-3">
            One of three columns
        </div>
        <div class="col-3">
            One of three columns
        </div>
    </div>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}

